body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url(./font/ProximaNovaSemibold/ProximaNova-Semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url(./font/ProximaNova-Bold/ProximaNova-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url(./font/ProximaNova-Regular/ProximaNova-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratMedium';
  src: url(./font/MontserratMedium/MontserratMedium.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url(./font/OpenSansBoldItalic/OpenSansBoldItalic.ttf) format('truetype');
}